
<!DOCTYPE html>
<html>
<head>
<style>

table, th, td {
    border: 1px solid black;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

</style>
</head>
<body>
    <div> Valid: {{result['Valid']}} <div>
    <div> Details: {{result['Details']['Place']}} <div>
    <div> Latitude: {{result['Latitude']}} <div>
    <div> Longitude: {{result['Longitude']}} <div>

    <table>
        <tr>
            <th> Year cal BP </th>
<!--             <th> MRA_avg </th>
            <th> ∆14C </th>
            <th> Delta_sigma </th>
            <th> Fm </th> -->
            <th> Radiocarbon Age (BP) </th>
            <th> Uncertainty (BP) </th>
        </tr>
        
        {% for key in result['keys']: %}

        <tr><td> {{result['data']['year'][key]}}  </td>
        <!-- <td> {{ result['data']['MRA_avg'][key] }}  </td>
        <td> {{ result['data']['Delta14C'][key] }}  </td>
        <td> {{ result['data']['Delta_sigma'][key] }}  </td>
        <td> {{ result['data']['Fm'][key] }}  </td> -->
        <td> {{ result['data']['cra_trend'][key] }}  </td>
         <td> {{ result['data']['error_trend'][key] }}  </td><tr>
        {% endfor %}

        
    </table>
</body>
</html>